{% extends '@layout/default.html.twig' %}
{% import '@form-components/inputs.html.twig' as form %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <div class="input-group">
        {{ form.inputName('', 'userName', '', '', '', ['form-control', 'teste']) }}
    </div>

    <div class="input-group">
        {{ form.inputPassword('userName') }}
    </div>
    
    <div class="input-group">
        {{ form.inputSelect(1, 'slectName', 'Nomes', ['Jociel', 'João', 'Joana', 'Marcela']) }}
    </div>
{% endblock %}
